@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';
@import 'libs';

.menu {
    .menu__btn {
        display: none
    }
}

body {
    color: red;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: transparent;
    // background-color: white;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url('../images/icons/cats.svg');
    height: 100vh;
}

.container {}

.menu {
    display: flex;
    justify-content: space-between;
    // margin-top: 20px;
    // padding: 15px 0;
    padding-top: 15px;

    &__btn {}

    &__items {
        display: flex;
        align-items: center;

    }

    &__item {
        &:not(:last-child) {
            margin-right: 30px;
        }
    }

    &__logo-link {}

    &__logo {
        width: 180px;
        height: 86px;
    }

    &__link {
        color: $black2;
        font-size: 16px;
        font-weight: 500;
        transition: color 0.5s;

        &:focus {
            color: $green;
        }

        &:hover {
            color: $hover;
        }

        &:active {
            color: $active;
        }
    }

    // &__link--active {
    //     color: $hover;
        
    // }
    // появляется только при скроле
}

.logo {}


.intro {
    display: flex;
    // flex-direction: column;
    // align-items: flex-start;
    // justify-content: space-between;
    height: 100vh;
    // min-height: 700px;


    &__box {
        // 6.5
        // margin: 0 auto;
        // margin-left: 8%;
        // margin-top: 8%;
        max-width: 350px;
    }

    // &__img {
    //     height: 100vh;
    //     width: 1519px;
    //     object-fit: cover;
    //     // min-height: 1664px;
    // }
}

.about {
    // min-height: 700px;
    // height: 100vh;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__box {
        max-width: 500px;
    }

    &__title {
        color: #101820;
        font-size: 40px;

        font-weight: 700;
        margin-bottom: 20px;
        max-width: 420px;
    }

    &__text {
        color: $black3;
        font-size: 24px;

        font-weight: 500;

    }

    &__img {
        width: 559px;
        height: 779px;
    }
}

.income {
    padding-top: 50px;
    background-color: $silver;
    // height: 100vh;
    min-height: 700px;
    overflow: hidden;
    // display: block;

    &__logo {
        width: 220px;
        height: 105px;
        object-fit: cover;
    }

    // &__box {}

    // &__blok {
    //     width: 500px;
    //     height: 600px;
    // }

    &__svg {
        // margin-left: -50%;
        // margin-top: 9%;
        display: flex;
    }

    &__wraper {
        
        display: flex;
        justify-content: space-between;
    }

    &__title {
        color: $black2;
        font-size: 40px;
        font-weight: 700;
        max-width: 760px;
        margin-bottom: 20px;
        line-height: 40px;

    }

    &__text {
        color: $black3;
        font-size: 25px;
        font-weight: 500;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        line-height: 25px;
        // max-width: 380px;
        margin-bottom: 80px;
    }

    &__text p {

        &:not(:last-child) {
            margin-right: 30px;
        }

        max-width: 300px
    }
}



.statistics {
    &__items {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        color: $hover;
        font-size: 72px;

        font-weight: 700;
        // line-height: 1;
    }

    &__text {
        color: $black2;
        font-size: 20px;
        // line-height: 1;
        font-weight: 500;
    }
}

.terms {
    padding: 100px 0;
    background-color: $violet;
    height: 100vh;

    &__title {
        color: $white;
        font-size: 40px;
        // line-height: 1;
        font-weight: 700;
        margin-bottom: 20px;
        text-align: center;

    }

    &__items {
        display: flex;
        justify-content: space-between;
        gap: 15px;
    }

    &__item {
        padding: 15px;
        background-color: $violet2;

    }

    &__subtitle {
        color: $hover;
        font-size: 28px;
        // line-height: 1;
        font-weight: 500;
        margin-bottom: 10px;

    }

    &__text {
        color: $white;
        font-size: 16px;
        // line-height: 1;
        font-weight: 500;
        margin-bottom: 50px;

    }
}



/*медия всегда должны быть в низу */


/*

&__link {
    color: $title;
    font-family: $;
    font-size: 15px;
    line-height: 1;
    font-weight: 700;
    outline-color: #000000;
    outline-offset: 5px;
    transition: color 0.5s;
    &:focus {
        color: $green;
    }

    &:hover {
        color: $ac;
    }

    &--active {
        color: $ac;
    }
}

*/

/*.video {
    height: 425px;
    max-width: 1185px;
    display: flex;
    justify-content: center;
    background-position: center;
    position: relative;
    opacity: 1;
    transition: opacity 0.7s,
        border 0.5s;
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;


    &:focus {
        outline: solid $ac;
    }

    &:hover {
        opacity: 0.4;
        border: 2px solid $black;
    }

    &:active {
        color: $active;
    }

    &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-image: url('../images/play.png');
        background-position: center;
        background-repeat: no-repeat;
        height: 100px;
        width: 100px;
    }
}*/

@import 'media';